body,
html {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullscreen>* {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
}

.no-touch {
    touch-action: none;
}

.pixelated {
    image-rendering: pixelated;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 100px;
    height: 100px;

    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #999;
    border-bottom-color: #999;

    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1800deg);
    }
}

#intro {
    position: absolute;
    background: #b5505052;
    max-width: 70vw;
    left: 50%;
    transform: translate(-50%, 30px);
    margin-top: 100px;
    padding: 50px;
    color: white;
    text-align: center;
}

#intro h1 {
    font-size: xxx-large;
}

#howToPlay {
    font-size: large;
}

#imp {
    font-size: x-large;
}

#startButton {
    border: 3px solid white;
    background: transparent;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: large;
}
#points{
    position: absolute;
    right: 0%;
    color: white;
    text-align: right;
    margin: 10px;
}
#braker{
    background: #00000042;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
#consoleD{
    position: fixed;
    right: 30px;
    width: 30%;
    height: 100%;
    top: 100px;
}
#consoleD p{
    text-align: right;
    color: red;
}